<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Adicionar pontos para usuário</title>
</head>

<body>
  <h1>Adicionar pontos para usuário</h1>

  <form action="/adicionar-abastecimento" method="POST">
    <label for="tipoCombustivel">Tipo de Combustível:</label>
    <select name="tipoCombustivel" id="tipoCombustivel">
      {{#each combustiveis}}
        <option value="{{tipo_combustivel}}">{{tipo_combustivel}}</option>
      {{/each}}
    </select>
    <br>
    <label for="qtdLitros">Quantidade de Litros:</label>
    <input type="number" name="qtdLitros" id="qtdLitros">
    <br>
    <label for="vlrTotal">Valor Total:</label>
    <input type="number" name="vlrTotal" id="vlrTotal">
    <br>
    <label for="cpf_cnpj">CPF/CNPJ do Cliente:</label>
    <input type="text" name="cpf_cnpj" id="cpf_cnpj">
    <br>
    <button type="submit">Adicionar Abastecimento</button>
  </form>

<br><br><br><br>

  <form action="/adicionar-pontos" method="POST">
    <label for="pontos">Pontos a adicionar:</label>
    <input type="number" id="pontos" name="pontos" required>
    <br>
    <button type="submit">Adicionar</button>
  </form>
</body>

</html>
